
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>JocTech.IO</title>
        <link rel="stylesheet" href="../../css/criar-empresa.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>
    <body style="background-color:#1B1D20;">
        <nav class="navbar navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="masterdetail.html"> <span class="navbar-brand mb-0 h1">JobTech.IO</span></a>
                </li>
            </ul>
            <span class="navbar-text">
                Painel Administrativo
              </span>
          </nav>
      <main>
         <div class="wrapper text-light">
            <h1>Cadastrar Empresa</h1>  
         </div> 
        
        <div class="wrapper">
            <form class="needs-validation text-light" novalidate>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Nome</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Nomde da empresa" value="" required>
                    <div class="valid-feedback">
                      Muito bem!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom02">CNPJ</label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="CNPJ" value="" required>
                    <div class="valid-feedback">
                        Muito bem!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                      </div>
                      <input type="email" class="form-control" id="validationCustomUsername" placeholder="exemplo@exemplo.com" aria-describedby="inputGroupPrepend" required>
                      <div class="invalid-feedback">
                        Por favor, insira um e-mail válido.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom03">Endereço</label>
                    <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                    <div class="invalid-feedback">
                        Por favor, insira um endereço válido.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Telefone</label>
                    <input type="tel" class="form-control" id="validationCustom04" placeholder="(11) 4002-8922" required  maxlength=“15” pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$">
                    <div class="invalid-feedback">
                        Por favor, insira um número válido.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="exampleFormControlFile1">Insira uma imagem</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    <div class="invalid-feedback">
                      Please provide a valid zip.
                    </div>
                  </div>
                </div>
                <button class="btn btn-color text-light" type="submit">Cadastrar</button>
              </form>
        </div>
          <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>
      </main> 
  </body>
  <nav class="navbar fixed-bottom navbar-light bg-dark">
    <a class="navbar-brand" href="#"></a>
    <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="text-light">Copyright &copy; 2020 All Rights Reserved by Fatec
        </p>
    </div>
  </nav>
</html>
