<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>JocTech.IO</title>
    <link rel="stylesheet" href="../../css/login.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
	</head>
	<body style="background-color:#1B1D20;">
      <main class="wrapper">
        <h1 class="text-center text-light ml-3">JobTech.IO</h1>
        <h2 class="text-center text-light ml-3">Um sistemas de vagas</h2>
        <h4 class="text-center text-muted ml-3 mr-3">Conectando pessoas as melhores vagas e vagas aos melhores candidatos.</h4>
        <section id="home" class="home .col-sm-">
          <div class="row mt-4">
            <div class="col-sm-6">
              <div class="card mt-2">
                <div class="card-body">
                  <h5 class="card-title text-light text-center">Sou candidato</h5>
                  <p class="card-text">Lorem ipsum</p>
                  <a href="#" onclick="document.getElementById('id01').style.display='block'" class="btn text-light">entrar</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card mt-2">
                <div class="card-body">
                  <h5 class="card-title text-light text-center">Sou contratante</h5>
                  <p class="card-text">Lorem ipsum</p>
                  <a href="#" onclick="document.getElementById('id01').style.display='block'" class="btn text-light">entrar</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div id="id01" class="modal">
          <form class="modal-content animate" style="background-color:#2f3135;" action="/action_page.php" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
        
            <div class="container">
              <label class="text-light" for="uname"><b>Email</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
        
              <label class="text-light" for="psw"><b>Senha</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
                
              <button style="background-color: blueviolet;" type="submit">Login</button>
              <label class="mt-3 text-light">
                <input class="text-light" type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
          </form>
        </div>
      </main> 
  </body>
  <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre</h6>
                <p class="text-justify">JobTech.io nasceu com o propósito de levar aos programadores as melhores oportunidades de trabalho, bem como levar para as empresas de tecnologia os melhores talentos que conseguem codar os ifs mais mirabolantes do universo.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Colaboradores</h6>
                <ul class="footer-links">
                    <li><a>Daniela Ramo</a></li>
                    <li><a>Douglas Correia</a></li>
                    <li><a>Gustavo Brito</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Fatec</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
            
    <script>
      // Get the modal
      var modal = document.getElementById('id01');
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
      
      function typeWriter(element){
        const textArray = element.innerHTML.split('');
        element.innerHTML = '';
        console.log(textArray)
        textArray.forEach((letter,i)=> {
          setTimeout(()=>element.innerHTML += letter,75*i)
        });
      }

      const text = document.querySelector('h4');
      const title = document.querySelector('h1');
      const subtitle = document.querySelector('h2');
      typeWriter(title);
      typeWriter(subtitle);
      typeWriter(text);

      
      </script>
  <script src="app.js"></script>
</html>
